@main("C-Ration Tree", "", "", "active") {
  <div id="tree">&nbsp;</div>
  <script src="@routes.Assets.at("js/jquery-ui-1.9.2.custom.min.js")" type="text/javascript"></script>
  <!--script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js" type="text/javascript"></script-->
  <script src="@routes.Assets.at("js/jquery.dynatree.min.js")" type="text/javascript"></script>
  <!--script src="@routes.Assets.at("js/jquery.dynatree.js")" type="text/javascript"></script-->
  <script src="@routes.Assets.at("js/tree.min.js")" type="text/javascript"></script>
}
